<!--
  Generated template for the ProfesorPlanificacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="dark">
    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
        Planificacion
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="listar_mensajes()">
          <ion-icon name="md-refresh"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-navbar>   
</ion-header>



<ion-content class="login-content" padding>
  
  <ion-fab bottom right >
    <button ion-fab (click)="nuevo_mensaje()">
      <ion-icon name="md-add">
      </ion-icon>
    </button>
  </ion-fab>




</ion-content>

