<!--
  Generated template for the ProfesorVerNotasCursoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{identificador_curso.Nombre}} {{identificador_curso.idCurso}}</ion-title>
  </ion-navbar>
  

  

</ion-header>


<ion-content padding>

</ion-content>
